<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AccessibilityTests">
  <test thread-count="4" name="Test">
    <classes>
      <class name="testsAccessibilities.ApplicationOfficialWebAddress"/>
      <class name="testsAccessibilities.ApplicationHomePage"/>
      <class name="testsAccessibilities.ApplicationServicesTab"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- AccessibilityTests -->
